<body>

    @Html.Partial("_Head")

    <div class="container">
        @Html.Partial("_Navbar")
        <div class="row mt-4">
            <div class="col-md-3">
                @Html.Partial("_Sidebar")
            </div>
            <div class="col-md-6">
                <div class="card" style="height:18rem;">

                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="height:25rem;">

                </div>

            </div>
        </div>

        <footer class="py-4 bg-dark flex-shrink-0 mt-4">
            <div class="container text-center">
                <a class="text-muted">opendict v0.1.3</a>
            </div>
        </footer>

    </div>
</body>
@Html.Partial("_Footer")
