@using OpenDict.Helpers;
@inject LocalizationHelper _localization;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body> 
    @_localization.T("common.test.teststring")
 
</body>
</html>
