<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
</head>
<body> 
    I fell like ... 
 
</body>
</html>
