<body>

    @await Html.PartialAsync("_Head")

    <div class="container">
        @await Html.PartialAsync("_Navbar")
        <div class="row mt-4">
            <div class="col-md-3">
                @await Html.PartialAsync("_Sidebar")
            </div>
            @RenderBody()
        </div>

        <footer class="py-4 bg-dark flex-shrink-0 mt-4">
            <div class="container text-center">
                <a class="text-muted">opendict v0.1.3</a>
            </div>
        </footer>

    </div>
    @await Html.PartialAsync("_Footer")
</body>
